<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<meta charset="ISO-8859-1">
<title>delete</title>


<style>
.delete {
color:white;
box-shadow:5px 8px #888888;
width:300px;
	background-color: rgb(186, 197, 197);
	margin-left:30%;
		margin-top:3%;
padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	
}
body{

	background-color: #E9F1FA;

}

</style>
<body>
	<nav th:replace="layout :: header"></nav>

	<div class="delete">

		<h1> Cancel All Order's Successfully</h1>

	</div>
	
</body>
</html>
